<section class="command-section">
  <h3>Global Flags</h3>
  <ul class="command-flags">
    <li><strong>--burst-limit int</strong> — Client-side default throttling limit (default 100)</li>
    <li><strong>--content-cache string</strong> — Path to the directory containing cached content (e.g. charts) </li>
    <li><strong>--debug</strong> — Enable verbose output</li>
    <li><strong>--kube-apiserver string</strong> — Address and port of the Kubernetes API server</li>
    <li><strong>--kube-as-group stringArray</strong> — Group(s) to impersonate for the operation (can be repeated)</li>
    <li><strong>--kube-as-user string</strong> — Username to impersonate for the operation</li>
    <li><strong>--kube-ca-file string</strong> — Certificate authority file for the Kubernetes API server connection</li>
    <li><strong>--kube-context string</strong> — Name of the kubeconfig context to use</li>
    <li><strong>--kube-insecure-skip-tls-verify</strong> — Skip certificate validity check (insecure)</li>
    <li><strong>--kube-tls-server-name string</strong> — Server name to use for TLS validation</li>
    <li><strong>--kube-token string</strong> — Bearer token used for authentication</li>
    <li><strong>--kubeconfig string</strong> — Path to the kubeconfig file</li>
    <li><strong>-n, --namespace string</strong> — Namespace scope for this request</li>
    <li><strong>--no-color</strong> — Disable color in command output</li>
    <li><strong>--qps float32</strong> — Queries per second used when communicating with the Kubernetes API</li>
    <li><strong>--registry-config string</strong> — Path to the registry config file </li>
    <li><strong>--repository-cache string</strong> — Path to the cached repository indexes </li>
    <li><strong>--repository-config string</strong> — Path to the repositories configuration file </li>
    <li><strong>--timeout int</strong> — Timeout for each resource creation (default 100)</li>
  </ul>
</section>
